html
  head
  link(href="https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script" rel="stylesheet")
  link(rel="stylesheet" type="text/css" href="app.css")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  meta(charset="UTF-8")
  body
   section#main-container
  footer.footer
  .container
    .row
      .col.s12.l3.center-align
        a.dropdown-button.btn.btn-flat(href='#', data-activates='dropdown1') Idioma
        ul#dropdown1.dropdown-content
          li
            a(href='#!') Español
          li
            a(href='#!') Ingles
      .col.s12.l3.push-l6.center-align  © Platzigram 2017 

script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
// Compiled and minified JavaScript
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')


